<div class="container">

  <div class="jumbotron">
    <form [formGroup]="searchForm" class="form-inline ml-auto" style="display: flex; justify-content: center; margin-top: 7px" (ngSubmit)="onSubmit()">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Anzeige suchen" aria-label="Search" formControlName="titel">
      </div>
      <div>
        <button class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Suchen</button>
      </div>
    </form>
  </div>

  <h2 align="center" *ngIf="searchList">Suchen Ergebnisse</h2>
  <br><br>

  <div *ngFor="let Anzeige of searchList" class="jumbotron" style="padding-top: 1px; padding-bottom: 1px">
    <h1>{{ Anzeige.titel }}</h1>
    <h2>{{ Anzeige.preis }}<small class="text-muted">Euro</small></h2>
    <p>{{ Anzeige.text }}</p>
    <p>Kategorie: {{Anzeige.kategorie}} <br> Status : <span *ngIf="Anzeige.status==='verkauft'" style="color: red">{{ Anzeige.status }}</span> <span *ngIf="Anzeige.status==='aktiv'" style="color: green">{{ Anzeige.status }}</span> <br> Ersteller: <a routerLink="/benutzerprofil/{{ Anzeige.ersteller }}">{{ Anzeige.ersteller }}</a> <br> Erstellt am: {{ createDate(Anzeige.erstellungsdatum) | date }}</p>
    <div style="display: flex; justify-content: flex-start">
      <p>
        <button class="btn btn-success btn-md my-0 ml-sm-2" routerLink="/anzeige/kaufen/{{ Anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.status==='aktiv' && Anzeige.ersteller!==benutzerService.getUsername()">Kaufen</button>
      </p>
      <p>
        <button class="btn btn-primary btn-md my-0 ml-sm-2" routerLink="/anzeige/kommentieren/{{ Anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.status==='aktiv'">Kommentieren</button>
      </p>
      <p>
        <button class="btn btn-info btn-md my-0 ml-sm-2" routerLink="/anzeige/update/{{ Anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.status==='aktiv' && Anzeige.ersteller===benutzerService.getUsername()">Editieren</button>
      </p>
      <p>
        <button class="btn btn-danger btn-md my-0 ml-sm-2" routerLink="/anzeige/delete/{{ Anzeige.id }}" role="button" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.ersteller===benutzerService.getUsername()">Löschen</button>
      </p>
    </div>
  </div>

</div>
