<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="" *ngIf="!benutzerService.isAuth()">INSERATOR</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="anzeige/anzeiges">Anzeiges</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="anzeige/search">Suchen</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
<!--      <li>
        <form [formGroup]="searchForm" class="form-inline ml-auto" style="display: flex; justify-content: center; margin-top: 7px" (ngSubmit)="onSubmit()">
          <div class="md-form my-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" formControlName="titel">
          </div>
          <div>
            <button class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
          </div>
        </form>
      </li>-->
      <li routerLinkActive="active">
        <a routerLink="auth/signup" *ngIf="!benutzerService.isAuth()">Konto erstellen</a>
      </li>
      <li routerLinkActive="active" *ngIf="!benutzerService.isAuth()">
        <a routerLink="auth/signin">Login</a>
      </li>
      <li routerLinkActive="active" *ngIf="benutzerService.isAuth()">
        <a routerLink="/benutzerprofil/{{ benutzerService.getUsername() }}">{{benutzerService.getUsername()}}</a>
      </li>
      <li>
        <a (click)="onSignOut()" *ngIf="benutzerService.isAuth()" style="cursor:pointer">Logout</a>
      </li>
    </ul>
  </div>
</nav>
