<div class="jumbotron" style="text-align: center">
  <h1>Wilkommen zur Inserator</h1>
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aut consequuntur dolorum, eveniet excepturi facere fugiat id maxime minus necessitatibus neque nobis optio perspiciatis possimus praesentium repellendus temporibus, veniam.</h2><br>
  <button class="btn btn-success" routerLink="auth/signin">Loggen Sie sich ein</button> <br><br>
  <button class="btn btn-primary" routerLink="auth/signup">Erstellen Sie ein Konto</button>
</div>
