<!--<div class="col-md-12">

  <h3 align="right">Willkommen Herr k.ralf</h3>
  <h4 align="right">Status:"Eingeloggt"</h4>
  <h2 align="center">Übersicht aller KleinAnzeigen</h2>
</div>
  <table class="table table-striped">
    <thead>
    <tr>
      &lt;!&ndash;<th>id</th>&ndash;&gt;
      <th>Titel</th>
      <th>Text</th>
      <th>Preis</th>
      <th>Erstellungsdatum</th>
      <th>Status</th>
      <th>Verkaufer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let Anzeige of anzeigeList" class="success">
      &lt;!&ndash;<td >{{Anzeige.id}}</td>&ndash;&gt;
      <td>{{Anzeige.titel}}</td>
      <td><a routerLink="kleinAnzeiges/update/{{Anzeige.id}}">{{Anzeige.text}}</a></td>
      <td>{{Anzeige.preis}} Euro </td>
      <td>{{createDate(Anzeige.erstellungsdatum) | date}}</td>
      <td>{{Anzeige.status}}</td>
      <td><a routerLink="benutzers/benutzerSicht/{{Anzeige.ersteller}}">{{Anzeige.ersteller}}</a></td>
    </tr>
    </tbody>
  </table>

<button class="btn btn-info" routerLink="addanzeige">Neue Anzeige erstellen</button>-->

<!--<div class="container">

  <h3 align="right">Willkommen Herr k.ralf</h3>
  <h4 align="right">Status:"Eingeloggt"</h4>
  <h2 align="center">Übersicht aller Anzeigen</h2>
  <br><br>


  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm" style="display: flex; justify-content: space-between">

  <div *ngFor="let Anzeige of anzeigeList" class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal" style="text-transform: uppercase">{{ Anzeige.titel }}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{ Anzeige.preis }}<small class="text-muted">Euro</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{{ Anzeige.text }}</li>
        <li>Status : {{ Anzeige.status }}</li>
        <li><a routerLink="benutzers/benutzerSicht/{{Anzeige.ersteller}}">Ersteller : {{Anzeige.ersteller}}</a></li>
        <li>Erstellt am : {{ createDate(Anzeige.erstellungsdatum) | date }}</li>
      </ul>
      <button type="button" class="btn btn-primary">Kaufen</button>
    </div>
  </div>

  <button class="btn btn-info" routerLink="addanzeige">Neue Anzeige erstellen</button>

    </div>
  </div>
</div>-->

<div class="container">

<!--  <h3 align="right">Willkommen Herr k.ralf</h3>
  <h4 align="right">Status:"Eingeloggt"</h4>-->
  <h2 align="center">Übersicht aller Anzeigen</h2>

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron" style="display: flex; justify-content: center; background: none">
    <button class="btn btn-primary" routerLink="addanzeige" [disabled]="!benutzerService.isAuth()">Neue Anzeige erstellen</button>
  </div>

  <div *ngFor="let Anzeige of anzeigeList" class="jumbotron" style="padding-top: 1px; padding-bottom: 1px">
    <h1>{{ Anzeige.titel }}</h1>
    <h2>{{ Anzeige.preis }}<small class="text-muted">Euro</small></h2>
    <p>{{ Anzeige.text }}</p>
    <p>Kategorie: {{Anzeige.kategorie}} <br> Status : <span *ngIf="Anzeige.status==='verkauft'" style="color: red">{{ Anzeige.status }}</span> <span *ngIf="Anzeige.status==='aktiv'" style="color: green">{{ Anzeige.status }}</span> <br> Ersteller: <a routerLink="/benutzerprofil/{{ Anzeige.ersteller }}">{{ Anzeige.ersteller }}</a> <br> Erstellt am: {{ createDate(Anzeige.erstellungsdatum) | date }}</p>
    <div style="display: flex; justify-content: flex-start">
      <p>
        <button class="btn btn-success btn-md my-0 ml-sm-2" routerLink="/anzeige/kaufen/{{ Anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.status==='aktiv' && Anzeige.ersteller!==benutzerService.getUsername()">Kaufen</button>
      </p>
      <p>
        <button class="btn btn-primary btn-md my-0 ml-sm-2" routerLink="/anzeige/kommentieren/{{ Anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.status==='aktiv'">Kommentieren</button>
      </p>
      <p>
        <button class="btn btn-info btn-md my-0 ml-sm-2" routerLink="/anzeige/update/{{ Anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.status==='aktiv' && Anzeige.ersteller===benutzerService.getUsername()">Editieren</button>
      </p>
      <p>
        <button class="btn btn-danger btn-md my-0 ml-sm-2" routerLink="/anzeige/delete/{{ Anzeige.id }}" role="button" [disabled]="!benutzerService.isAuth()" *ngIf="Anzeige.ersteller===benutzerService.getUsername()">Löschen</button>
      </p>
    </div>
  </div>

</div> <!-- /container -->
