<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Erstellen Sie ihr Konto !</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="benutzername">Benutzername</label>
        <input type="text" id="benutzername" class="form-control" formControlName="benutzername">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Benutzer erstellen</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
