<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Erstellen Sie ihre Anzeige !</h2>
    <form [formGroup]="createAngeigeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titel">Titel</label>
        <input type="text" id="titel" class="form-control" formControlName="titel">
      </div>
      <div>
        <label for="text">Beschreibung</label>
        <textarea type="text" id="text" class="form-control"  formControlName="text"></textarea>
      </div>
      <div class="form-group">
        <label for="preis">Preis</label>
        <input type="number" id="preis" class="form-control" formControlName="preis">
      </div>
      <div class="form-group">
        <label for="kategorie">Kategorie</label>
        <select type="text" id="kategorie" class="form-control" formControlName="kategorie">
          <option value="Multimedia & Elektronik">Multimedia & Elektronik</option>
          <option value="Digitale Waren">Digitale Waren</option>
          <option value="Mode & Kosmetik">Mode & Kosmetik</option>
          <option value="Haus & Garten">Haus & Garten</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="createAngeigeForm.invalid">Anzeige erstellen</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
