<div class="container">
  <div *ngIf="anzeige" class="jumbotron" style="padding-top: 1px; padding-bottom: 1px; margin-bottom: 0px">
    <h1>{{ anzeige.titel }}</h1>
    <h2>{{ anzeige.preis }}<small class="text-muted">Euro</small></h2>
    <p>{{ anzeige.text }}</p>
    <p>Kategorie: {{anzeige.kategorie}} <br> Status : <span *ngIf="anzeige.status==='verkauft'" style="color: red">{{ anzeige.status }}</span> <span *ngIf="anzeige.status==='aktiv'" style="color: green">{{ anzeige.status }}</span> <br> Ersteller: <a routerLink="/benutzerprofil/{{ anzeige.ersteller }}">{{ anzeige.ersteller }}</a> <br> Erstellt am: {{ createDate(anzeige.erstellungsdatum) | date }}</p>
    <div style="display: flex; justify-content: flex-start">
      <p>
        <button class="btn btn-success btn-md my-0 ml-sm-2" routerLink="/anzeige/kaufen/{{ anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="anzeige.status==='aktiv' && anzeige.ersteller!==benutzerService.getUsername()">Kaufen</button>
      </p>
      <!--<p>
        <button class="btn btn-primary btn-md my-0 ml-sm-2" routerLink="/anzeige/kommentieren/{{ anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="anzeige.status==='aktiv'">Kommentieren</button>
      </p>-->
      <p>
        <button class="btn btn-info btn-md my-0 ml-sm-2" routerLink="/anzeige/update/{{ anzeige.id }}" role="button" style="margin-right: 10px" [disabled]="!benutzerService.isAuth()" *ngIf="anzeige.status==='aktiv' && anzeige.ersteller===benutzerService.getUsername()">Editieren</button>
      </p>
      <p>
        <button class="btn btn-danger btn-md my-0 ml-sm-2" routerLink="/anzeige/delete/{{ anzeige.id }}" role="button" [disabled]="!benutzerService.isAuth()" *ngIf="anzeige.ersteller===benutzerService.getUsername()">Löschen</button>
      </p>
    </div>
  </div>
  <div *ngFor="let Kommentar of kommentarList" class="jumbotron" style="margin-top: 2px; margin-bottom: 2px; padding-top: 1px; padding-bottom: 1px">
    <div *ngIf="Kommentar.username===benutzerService.getUsername()" style="text-align: right">
      <h2><a routerLink="/benutzerprofil/{{Kommentar.username}}">{{Kommentar.username}}</a></h2>
      <p>{{Kommentar.text}}</p>
      <h6>{{createDate(Kommentar.erstellungsdatum) | date}}</h6>
    </div>
    <div *ngIf="Kommentar.username!==benutzerService.getUsername()">
      <h2><a routerLink="/benutzerprofil/{{Kommentar.username}}">{{Kommentar.username}}</a></h2>
      <p>{{Kommentar.text}}</p>
      <h6>{{createDate(Kommentar.erstellungsdatum) | date}}</h6>
    </div>
  </div>
  <div class="jumbotron" style="margin-top: 0px">
    <form [formGroup]="kommentForm"  (ngSubmit)="onSubmit()">
      <div>
        <textarea type="text" id="text" placeholder="Kommentar hinzufügen..." class="form-control" style="margin-top: 0px"  formControlName="text"></textarea>
      </div><br>
      <div>
        <button class="btn btn-primary btn-md my-0 ml-sm-2" type="submit" [disabled]="kommentForm.invalid">Kommentieren</button>
      </div>
    </form>
  </div>
</div>
